.first {
    background-image: url("../../assets/section-1/background.jpg");
    position: relative;
    height: 40vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fire-line {
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 30%;
    }
}