.third {
    background-image: url("../../assets/section-3/background.gif");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    img {
        width: 100px;
        height: 100px;
    }

    .first-row {
        display: flex;
        flex-direction: row;

        .canyounot {
            padding-left: 2em;
            width: 200px;
            height: 200px;
        }
    
        .ca7pak {
            padding-top: 2em;
            width: 300px;
            height: 300px;
        }
    }

}